/*body START*/

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Roboto');
body {
	background-image: url(../img/bg2.png);
	font-family: 'Roboto', sans-serif;
	color: #d3d3d3;
	font-weight: 300;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: #e98724;
}

a {
	color: #dfaa38;
}

/*body END*/

/*nav START*/

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > li > a {
	color: #dfaa38;
	position: relative;
	display: inline-block;
	outline: none;
	text-decoration: none;
	font-size: 1.2em;
	padding-left: 5px;
	padding-right: 5px;
}

.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
	color: #e98724;
	background: #222222;
}


/* Эффект Скобки */

div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right > li > a::before,
div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right > li > a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right > li > a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right > li > a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right > li > a:hover::before,
div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right > li > a:hover::after,
div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right > li > a:focus::before,
div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right > li > a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.navbar {
	font-weight: 800;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse {
	border-color: #222222;
}

div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right > li.active > a {
	background-color: #222222;
}

.navbar-inverse .navbar-brand {
	color: #e98724;
	font-weight: bolder;
	font-size: 1.3em
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: #e98724;
}


/*nav END*/

/*headerwrap START*/

.headerwrap {
	background: black;
	background-image: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	padding-top: 20px;
	text-align: center;
	min-height: 550px;
	background-size: 100%;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	*/
}

.headerwrap h1 {
	margin-top: 100px;
	color: white;
	font-size: 5em;
	font-weight: 300;
	letter-spacing: 3px;
}

.headerwrap h2 {
	color: #dfaa38;
	padding-top: 0.5em;
	font-size: 3em;
	font-weight: 300;
	letter-spacing: 2px;
}


/*headerwrap END*/

/*block 1 START*/

.block-1 {
	text-align: center;
	padding: 0 5em 5em;
}

.block-1 span {
	color: #e98724;
	font-size: 2.2em;
}

.block-1 i {
	color: #dfaa38;
	font-size: 2.2em;
	padding: 1em
}
.block-1 .btn { font-size: 1em;}
.btn-warning {
	background-color: #dfaa38;
	color: #222222;
	border-color: #dfaa38;
}

.btn-warning:active:focus,
.btn-warning:active:hover,
.btn-warning:focus,
.btn-warning:hover {
	background-color: #db9b11;
	color: #222222;
	border-color: #db9b11;

}



/* анимация прыгающей руки
.block-1__btn-show-more i {
  animation: block-1__jump-hand 7s infinite ease-in-out;
}


@keyframes block-1__jump-hand {
	0% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		opacity: 1;
	
	}
	10% { 
		-webkit-transform: translateY(-20%); 
		transform: translateY(-20%);}
	
		20% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
	30% {
			-webkit-transform: translateY(-20%);
			transform: translateY(-20%);
	}
	40% {
  	-webkit-transform:translateY(0%);
  	transform:translateY(0%);
    
	}
	50% {  
    -webkit-transform:translateY(-20%);  
    transform:translateY(-20%);  
	}
	60% {
  	-webkit-transform:translateY(0%);
  	transform:translateY(0%);
    
}
70% {
	-webkit-transform:translateY(-20%);
	transform:translateY(-20%);
}
80% {
	-webkit-transform:translateY(0%);
	transform:translateY(0%);
	
}

90% {
	-webkit-transform:translateY(-20%);
	transform:translateY(-20%);
	
	opacity: 1;
}
} */


/*block 1 END*/

/*block 2 & 2.1 START*/

.block-2, .block-2_1 {
	padding-bottom: 8em;
	text-align: center;
}

.block-2 h4, .block-2_1 h4 {
	font-size: 3em;
	margin-bottom: 1.7em;
}

.block-2__block {
	background: #222222;
	padding: 2em 0.5em;
	border-top: 4px solid #e98724;
	border-bottom: 6px solid #1a1a1a;
	margin: 1em 0;
}

.block-2_1 img {
	width: 100%;
}
/*block 2 END*/

/*block 3 START*/

.block-3 {
	text-align: center;
	padding-bottom: 7em;
}

.block-3 h4 {
	font-size: 3em;
	padding-bottom: 0.8em;
	padding-top: 0.5em
}

.block-3 span {
	font-size: 1.5em;
	color: white;
	word-spacing: 1px;
	letter-spacing: 1px
}


/*block 3 END*/

/*footer START*/

.footer {
	background: #1a1a1a;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}

.footer i,
.footer span {
	color: white;
	font-size: 2em;
	padding: 1em;
}

.footer a,
.footer i:hover,
.footer span:hover {
	color: #e98724;
}

.footer a {
	text-decoration: none;
}

#tel,
#mail {
	display: none;
}

/*footer END*/

/*@media START*/

@media (max-width: 977px) {
	/* @media nav START*/
	.navbar-inverse .navbar-nav > .active > a,
	.navbar-inverse .navbar-nav > li > a,
		{
		color: #dfaa38;
		position: relative;
		display: inline-block;
		outline: none;
		text-decoration: none;
		font-size: 1.2em;
		padding-left: 5px;
		padding-right: 5px;
	}
	/* @media nav END*/
	/* @media headerwrap START*/
	.headerwrap {
		background: black;
		background-image: url(../img/header-bg.jpg);
		background-repeat: no-repeat;
		padding-top: 20px;
		text-align: center;
		min-height: 450px;
		background-size: 100%;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.headerwrap h1 {
		margin-top: 100px;
		color: white;
		font-size: 4em;
		font-weight: 300;
		letter-spacing: 3px;
	}
	.headerwrap h2 {
		color: #dfaa38;
		padding-top: 0.5em;
		font-size: 2.5em;
		font-weight: 300;
		letter-spacing: 2px;
	}
	/*@media headerwrap END*/
	/*@media footer START*/
	#tel,
	#mail, #skils {
		display: none;
	}
}

.footer a,
.footer i:hover,
.footer span:hover {
	color: #e98724;
}

.footer i,
.footer span {
	color: white;
	font-size: 2em;
	padding: 1em;
}

/*@media footer END*/

/*@media END*/

